/* Write your CSS here */
.prime-videos-container {
  background-color: #000000;

  background-size: cover;
}
.prime-video-image {
  height: 30%;
  width: 100%;
}
.movies-container {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Action-movies-heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #ffffff;
  margin-top: 0px;
}

.comedy-movies-heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #ffffff;
  margin-top: 40px;
}
